.note-card {
  margin: 0;
  width: 15rem;
  height: 18rem;
  background: #ffde00;
  outline: none;
  position: absolute;
  display: flex;
  flex-direction: column;
}

.header {
  position: relative;
}

.header h3 {
  margin: 0;
  width: 70%;
  padding: 0.2rem 0.5rem;
  text-shadow: 0.5px 0.5px black;
}

#thumb-tack {
  top: 0;
  left: 6rem;
  position: absolute;
  height: 50px;
  width: 50px;
}

#delete-note {
  top: 0.25rem;
  right: 0.25rem;
  opacity: 0.5;
  width: 30px;
  height: auto;
  position: absolute;
}

#delete-note:hover {
  transition: transform 0.5s ease;
  transform: scale(1.2);
  opacity: 1;
}

ul {
  font-size: 22px;
  line-height: 30px;
  padding: 1.5rem;
  /* height: auto; */
  margin: 0;
  overflow-y: scroll;
}

li {
  list-style: number;
  align-self: flex-start;
}
