* {
  box-sizing: border-box;
  font-family: 'Edu VIC WA NT Beginner', cursive, Inter, Avenir, Helvetica, Arial, sans-serif;
}

body {
  margin: 0;
  background: url('./assets/corkboard-bg.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #ffde00;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #e6e5a3;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
