.form {
  display: inline-flex;
  flex-direction: column;
  width: 15rem;
  height: 18rem;
  outline: none;
  box-shadow: 6px 5px 9px 0px;
}

textarea {
  line-height: 30px;
  padding: 0.5rem;
  outline: none;
  border: none;
  height: 100%;
  font-size: 22px;
  resize: none;
  background: #ffde00;
}

button {
  background-color: #a881af;
  border: none;
  color: black;
  text-align: center;
  opacity: 1;
  transition: 0.3s;
  display: inline-block;
  text-decoration: none;
  cursor: pointer;
  font-weight: 600;
  padding: 2px 2px;
  font-size: 24px;
}

button:hover:enabled {
  background-color: #80669d;
}

button:disabled {
  cursor: not-allowed;
  opacity: 60%;
}
